body {
    background-color: #0a4d7b;
}

h1 {
    color: burlywood;
    text-transform: uppercase;
    text-align: center;
    padding-top: 1em;
}

.card {
    background-color: black;
    color: white;
    height: 100%;

    h5 {
        font-weight: 900;
        text-transform: uppercase;
    }

    .list-group-item {
        background-color: burlywood;
        color: #0a4d7b;
    }
}